<footer>
    <nav class="navbar navbar-default navbar-Fixesed-bottom">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>Shleken @DateTime.Now.Year ©</li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy & Cookies</a></li>
                <li><a href="#">Contacts Us</a></li>
            </ul>

            <p class="navbar-text navbar-right">part of <a href="http://www.pajonos.com" target="_blank">Pajonos</a> group</p>
        </div>
    </nav>
</footer>
