
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />

    <meta name="viewport" content="width=device-width" />
    <title>NoPermitions</title>
    <style>
        body {
            background-color: rgba(163, 172, 182, 0.5);
        }
    </style>
</head>

<body>
    <h1>Sorry, you don't have permitions to view this data</h1>
    <div> 
    </div>
</body>
</html>


